repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-json
      - id: mixed-line-ending
      - id: check-added-large-files
        args: ["--maxkb=2000"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix, --unsafe-fixes]
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.19.1
    hooks:
      - id: blacken-docs
        exclude: __init__.py
        additional_dependencies: [black>=24.0.0]
